body {
            font-family: Arial, sans-serif;
            background: #e01650;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
}


.contenedor{

            background: rgb(127, 12, 12);
            padding: 30px;
            color: rgb(255, 255, 255);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(43, 38, 38, 0.2);
            text-align: center;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#contenedor{
    transition: transform 0.5s ease;
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
}

section{
    margin-bottom: 40px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}